@font-face {
  font-family: 'Montserrat-Hairline';
  font-display: auto;
  src: url('../fonts/Montserrat-Hairline.otf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-ExtraLight';
  font-display: auto;
  src: url('../fonts/Montserrat-ExtraLight.otf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Light';
  font-display: auto;
  src: url('../fonts/Montserrat-Light.otf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Regular';
  font-display: auto;
  src: url('../fonts/Montserrat-Regular.otf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Bold';
  font-display: auto;
  src: url('../fonts/Montserrat-Bold.otf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Black';
  font-display: auto;
  src: url('../fonts/Montserrat-Black.otf') format('truetype');
}
div,main,header,form{
  /* border: 0.1px solid blue; */
}
body{
  margin: 0;
}
button:hover{
  cursor: pointer;
}
/* search layer */

@keyframes SearchDivLayerAnimOpen {
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}
@keyframes SearchDivLayerAnimClose {
  0%{
    width: 100%;
  }
  100%{
    width: 0%;
  }
}

.SearchDivLayerAnimOpen{
  animation-name: SearchDivLayerAnimOpen;
  animation-duration: 1s;
  animation-fill-mode:  forwards;
}
.SearchDivLayerAnimClose{
  animation-name: SearchDivLayerAnimClose;
  animation-duration: 1s;
  animation-fill-mode:  forwards;
}

.SearchDivLayer{
  position: fixed;
  overflow: hidden;
  height: 100%;
  right: 0px;
  width: 0;
  z-index: 4;
  background-color: rgb(51,51,51,0.94);
  animation-duration: 1s;
  animation-fill-mode:  forwards;
}
.exitButton{
  position: relative;
  float: right;
  left: -2.5vw;
  width: 5vw;
  height: 5vw;
}
.exitButton:hover{
  cursor: pointer;
}
.XlineOne{
  margin-top: 50%;
  transform: rotateZ(45deg);
  background-color: rgb(161,26,35);
  width: 100%;
  height: 10px;
  border-radius: 3px;
}
.XlineTwo{
  margin-top: -10px;
  transform: rotateZ(-45deg);
  background-color: rgb(161,26,35);
  width: 100%;
  height: 10px;
  border-radius: 3px;
}
.inputBox{
  padding: 5px;
  display: flex;
  height: 5vw;
  width: 50vw;
  border-radius: 15px;
  margin-left: 25%;
  margin-top: 45vh;
}
.inputBox input{
  caret-color: rgb(239,106,70);
  width: 40vw;
  height: 4vw;
  font-size: 4vw;
  background: transparent;
  border:none;
}
.inputBox input:focus{
  outline:0;
}
.inputSearchIcon{
  background-image: url('../img/png/searchIcon.png');
  background-size: 100% 100%;
  width: 5vw;
  height: 5vw;
}
.inputSearchIcon:hover{
  cursor: pointer;
}

/* sticky menu */
.stickyMenu {
    transition: 0.5s;
    z-index: 2;
    position: fixed;
    height: 0vw;
    width: 100vw;
    background-color: black;
    border-bottom: 1px solid gray;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
.linksSticky{
  margin-right: 1vw;
}
/* sticky menu end */

/* search layer */

header{
  padding-top: 0.1px;
  background-size: 100% 100%;
  position: relative;
  min-height: 97.77vw;
  background: linear-gradient(135deg, rgb(212,185,102) 0%, rgb(233,218,158) 100%);
}

.videoDiv{
  overflow: hidden;
  margin-top: 5.035vw;
  margin-left: 5vw;
  position: relative;
  padding-top: 0.1px;
  height: 36.6vw;
  width: 88.579vw;
  /* border: 1.85vw solid rgb(255,255,255,0.4); */
  /* box-shadow: 0px 4.44vw 11.11vw -2.59vw rgba(0,0,0,0.55); */
  box-shadow:0px 9.44vw 10vw -5.59vw rgba(0,0,0,0.55);
}
.videoDiv video{
  object-fit: initial;
  position: absolute;
  /* top: 0; */
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}
.videoOverlay{
  /* box-shadow: inset 0px 0px 0px 1.85vw rgba(255,255,255,0.4); */
  position: absolute;
  width: 100%;
  height: 100.2%;
  background: radial-gradient(ellipse at center, rgba(255,255,255,0) 0%, rgba(128,91,250,1) 100%);
}
.inlineFrame{
  position: absolute;
  top: 1.85vw;
  left: 1.85vw;
  width: 84.879vw;
  height: 32.9vw;
  border: 1px solid rgba(221,221,221,0.5);
}
.quotContainer{
  position: absolute;
  top: 1.85vw;
  left: 1.85vw;
  width: auto;
  height: auto;
}
.quotationPng{
  position: absolute;
  top: 0.51vw;
  left: 1.777vw;
  width: 6.222vw;
  height: 4.37vw;
}
.animQuot{
  position: absolute;
  width: 30vw;
  opacity: 0;
  transition: 1s;
  margin-top: 3.5vw;
  margin-left: 4.81vw;
  font-family: 'Montserrat-Bold';
  color: white;
  font-size: 1.777vw;
}
.quotContainer p:nth-child(2){
  opacity: 1;
}

.quotContainer p:nth-child(3){
  opacity: 0;
}

.quotContainer p:nth-child(3){
  opacity: 0;
}

.highPerformance{
  font-family: 'Pacifico',serif;
  position: absolute;
  width: 100%;
  bottom: 2vw;
  text-align: center;
  font-size: 3.36vw;
  color: white;
}
.getInTouchBtn{
  transition: 0.4s;
  font-family: 'Montserrat-Regular';
  position: absolute;
  background-color: rgba(255,174,69,0.45);
  color: white;
  border: 3px solid rgba(255,255,255,0.38);
  width: 12.89vw;
  height: 2.965vw;
  border-radius: 2vw;
  font-size: 1.186vw;
  margin-left: 50%;
  left: -6.445vw;
  bottom: 2.2vw;
}
.getInTouchBtn:hover{
  background-color: rgba(255,174,69,0.6);
}
.bannerAnimArrow{
  position: absolute;
  width: 1px;
  height: 11.11vw;
  background-color: rgb(193,74,51);
  margin-left: 50%;
  animation-name: bannerAnimArrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.bannerAnimInnerArrow{
  position: absolute;
  bottom: -5px;
  left: -5px;
  transform: rotate(-45deg);
  width: 10px;
  height: 10px;
  border-bottom: 1px solid rgb(193,74,51);
  border-left: 1px solid rgb(193,74,51);
}
@keyframes bannerAnimArrow{
  0%{
    height: 1vw;
  }
  100%{
    height: 11.11vw;
  }
}
.videoSlider{
  transition: 2s;
  background-color: rgb(255,175,7);
  position: absolute;
  margin-right: 1.8vw;
  width: 0vw;
  top: 1.85vw;
  height: 33.1vw;
  right: 0vw;
}
.arrowHolder{
  position: absolute;
  overflow: hidden;
  width: 5vw;
  height: 4vw;
  top: 13.165vw;
  left: -5vw;
}
.arrow{
  transition: 0.4s;
  transform: rotate(45deg);
  position: absolute;
  width: 2vw;
  height: 2vw;
  background-color: #ffae45;
  right: -1vw;
  top: 1vw;
  /* margin-top: 15.165vw; */
  /* left: -1vw; */
}
.arrow:hover{
  filter: brightness(120%);
  cursor: pointer;
}
.FREE{
  position: absolute;
  right: 1.8vw;
  top: 10.7vw;
}
.FREE p{
  color: #ffae45;
  font-family: 'Montserrat-Black',serif;
  margin: 0;
  font-size: 1.779vw;
  writing-mode: tb-rl;
}
.mobileParrot{
  width: 32.29vw;
  height: 57.85vw;
  position: absolute;
  bottom: -8vw;
  left: 17vw;
}

.mobileVid{
  background-image: url('../img/mobileVid.png');
  width: 45.407vw;
  height: 70vw;
  background-size: 100% 100%;
  position: absolute;
  right: 6.5vw;
  bottom: -20vw;
}
.mobileVideoDiv{
  overflow: hidden;
  border-radius: 0.5vw;
  position: relative;
  width: 28.65vw;
  height: 50vw;
  top: 7.7vw;
  left: 7.5vw;
}
.mobileVideoDiv video{
  width: 100%;
}


.logo{
  position: absolute;
  width: 21.259vw;
  height: 3.925vw;
  margin-top: 0.74vw;
  margin-left: 7.19vw;
}
.links{
  display: flex;
  position: absolute;
  top: 0px;
  right: 0;
  margin-top: 1.8vw;
}
.links a{
  transition: 0.4s;
  font-family: 'Montserrat-Light',serif;
  color: white;
  font-size: 1.171vw;
  text-decoration:none;
  padding: 5px 10px;
}
#searchID{
  font-size: 3vw;
  margin: 0;
  position: relative;
  top: -1.4vw;
  margin-right: 2vw;
}
.links a:hover{
  color: rgb(253,216,47);
}
.burgerMenu{
  width: 4vw;
  margin-top: 0.25vw;
  margin-left: 2.5vw;
  margin-right: 8vw;
  /* height: 2vw; */
}
.burgerMenu:hover{
  cursor: pointer;
}
.burgerLine{
  transition: 0.4s;
  left: 0;
  position: relative;
  background-color: white;
  height: 2px ;
  width: 100%;
  margin-bottom: 0.6vw;
}
.burgerLine:nth-child(1){
  width: 58%;
  left: 42%;
}
.burgerLine:nth-child(3){
  width: 75%;
  left: 25%;
}
.zero,.three{
  position: relative;
}
.zeroParagraph{
  margin: 0;
  margin-left: 4.373vw;
  margin-top: 3vw;
  margin-bottom: 1vw;
  font-family: 'Montserrat-Black';
  font-size: 7.5vw;
  color: rgb(219,151,69);
  opacity: 0.1;
}
.fastSecured{
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 10.5vw;
  font-size: 2.4vw;
  font-family: 'Montserrat-Light';
  color: rgb(175,121,56);
}
.threeParagraph{
  margin: 0;
  margin-left: 4.373vw;
  margin-top: -3vw;
  margin-bottom: -1vw;
  font-family: 'Montserrat-Black';
  font-size: 7.5vw;
  color: rgb(219,151,69);
  opacity: 0.1;
}
.byKhamak{
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 10.5vw;
  font-size: 1.1vw;
  font-family: 'Montserrat-Regular';
  color: rgb(175,121,56);
}

.theInformation{
  position: absolute;
  top: 5.5596vw;
  right: 2.81vw;
  width: 38.917vw;
  height: 11.934vw;
  border:1px solid rgb(255,255,255,0.25);
}
.theInformation p{
  font-family: 'Montserrat-Light';
  color: rgb(112,112,112);
  font-size: 1.186vw;
  margin-left: 2.52vw;
  margin-top: 3.484vw;
}


.homeDesign{
  position: absolute;
  display: flex;
  left: 4vw;
  top: 4vw;
}
.homeDesign a,.homeDesign span{
  font-family: 'Montserrat-Bold',serif;
  color: white;
  text-decoration: none;
  font-size: 1.2vw;
}
.homeDesign a:hover{
  text-decoration: underline;
}
/* .searchIcon{
  z-index: 1;
  transition: 0.5s;
  position: relative;
  background-image: url('../img/png/searchIcon.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 1.85vw;
  top:1.92vw;
  margin-left: 73.239vw;
  width: 4vw;
  height: 4vw;
  opacity: 0.7;
}
.searchIcon:hover{
  cursor: pointer;
  opacity: 1;
} */
/* main */
main{
  padding-top: 0.1px;
  top: 0;
  position: relative;
  overflow: hidden;
  margin-top:-6.226vw;
  /* min-height: 80.07vw; */
  height: auto;
  /* background-color: #555555 ; */
}
.narrowWrapper{
  position: absolute;
  top: 0
  left:0;
  /* border: 1px solid red; */
  width: 100%;
  overflow:hidden;
  height: 50vw;
}
.narrowBG{
  box-shadow: 1.7vw 7px 50px -30px rgba(0,0,0,0.75);
  height: 200vw;
  width: 56vw;
  position: absolute;
  background-color: #e8e8eb;
  transform: rotate(18deg);
  top: -15vw;
  left: -36vw;
}
.straightBG{
  position: absolute;
  left: 0;
  top: 0;
  width: 10vw;
  height: 100%;
  background-color: #e8e8eb;
}

.animatedHeading{
  transition: 0.5s;
  background-color: rgb(212,51,43);
  top: 0%;
  width: 100%;
  height: 100%;
  position: absolute;
}

.webDevelopment{
  transition: 2s;
  margin-top: 34.15vw;
  left: -30vw;
  position: absolute;
  bottom: 6vw;
}
.webDevelopment p{
  font-size: 4.444vw;
  margin: 0;
  color: white;
}
.webDevelopment p:nth-child(2){
  margin-bottom: -1.2vw;
  font-family: 'Montserrat-Hairline',serif;
}
.webDevelopment p:nth-child(3){
  font-family: 'Montserrat-Black',serif;
}
.contentBox{
  padding: 0.1px;
  box-shadow: 0px 1.77vw 12.962vw 1.259vw rgba(0,0,0,0.2);
  position: relative;
  /* float: right; */
  width: 100%;
  min-height: 10vw;
  background: white;
  margin-top: 6vw;
  /* border-left: 2.296vw solid rgba(255, 255, 255, 0.05); */
  /* border-top: 1.7vw solid rgba(255, 255, 255, 0.1); */
  background-clip: padding-box;
  /* margin-bottom: 5vw; */
}
.rectWorkImageBox{
  border-top: 2.814vw solid white;
  display: flex;
  width: 100%;
}
.recentWorkImages{
  transition: 1s;
  width: 100%;
  height:100%;
}


.imgBox{
  position: relative;
  overflow: hidden;
  width: 33.33%;
  height: 21.2vw;
}
.imgBox:hover{
  cursor: pointer;
}
.imgBox::before{
  transition: 1s;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0,0.7);
}
.imgBox:hover:before{
  background-color: rgb(0,0,0,0.3);
}

.imgBox::after{
  content: '';
  display: block;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 100%);
  position: absolute;
  width: 20%;
  height: 220%;
  /* opacity: 0.2;  */
  top:-160%;
  left: 10%;
  transition: 2s;
  transform: rotate(45deg);
  /* z-index: 5; */
}
.imgBox:hover:after{
  top:100%;
  left:100%;
}

.whatWeDoHtwo{
  font-family: 'Montserrat-Light';
  text-align: center;
  margin-top: 14vw;
  margin-bottom: 3.5vw;
  font-size: 2.5vw;
}

.fourImgGrid{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 200vh;
  /* grid-gap: 5px; */
}
.fourImgGrid>div{
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.gridImgBox{
  transition: 1s;
  margin-top: 0;
  margin-left: 0;
  width: 100%;
  height: 100%;
}

.gridImgBox:hover{
  /* cursor: pointer; */
}
/* .gridImgBox::before{
  z-index: 1;
  transition: 1s;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0,0.2);
}
.gridImgBox:hover:before{
  background-color: rgb(0,0,0,0);
} */
.blackTextLayer{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(0,0,0,0);
  transition: 1s;
}
.blackLayerInside{
  transition: 1s;
  color: white;
  /* border: 1px solid red; */
  position: absolute;
  width:90%;
  height: 90%;
  top: 5%;
  left: 5%;
  opacity: 0;
}
.blackLayerInside h2{
  margin-top: 3vw;
  margin-bottom: 7vh;
  font-size: 3.2616vw;
  font-family: 'Montserrat-Black';
}
.blackLayerInside h2 span{
  font-family: 'Montserrat-Light';
}
.blackLayerInside p{
  /* border: 1px solid yellow; */
  width: 37vw;
  font-size: 1.535vw;
  font-family: 'Montserrat-Regular';
  text-align: justify;
}
.readMoreDiv{
  font-family: 'Montserrat-Bold';
  font-size: 1.635vw;
  /* border: 1px solid white; */
  position: absolute;
  bottom: 4vh;
  right: 6vw;
}
.readMoreDiv:hover{
  cursor: pointer;
}
.readMoreDiv h3{
  margin: 0;
  margin-top: 0.5vw;
}
.readMoreAnimDiv{
  transition: 0.4s;
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  border-radius: 2px;
  height: 0.27vw;
}
.readMoreAnimDiv:hover{
  width: 100%;
}
.readMoreAnimDivBlue{background: rgb(106,110,248);}
.readMoreAnimDivRed{background: rgb(209,46,34);}
.readMoreAnimDivYellow{background: rgb(180,169,57);}
.readMoreAnimDivPurple{background: rgb(102,52,175);}

.gridImgBox::after{
  content: '';
  display: block;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 100%);
  position: absolute;
  width: 20%;
  height: 220%;
  top:-160%;
  left: 10%;
  transition: 2s;
  transform: rotate(45deg);
}
.gridImgBox:hover:after{
  top:100%;
  left:100%;
}
.gridParaBox{
  /* border: 1px solid black; */
  position: absolute;
  bottom: 5vw;
  left: 2.4vw;
}

.gridParaBox p:nth-child(1){
  margin: 0;
  font-family: 'Montserrat-Light';
  color: white;
  font-size: 4.7vw;
}
.gridParaBox p:nth-child(2){
  margin: 0;
  font-family: 'Montserrat-Black';
  color: white;
  font-size: 4.7vw;
}

.gridImgOne,
.gridImgTwo,
.gridImgThree,
.gridImgFour{
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 1s;
  margin-top: 0%;
  margin-left: 0%;
}

/* supportAndMaintance */
.supportAndMaintance{
  margin-top: 0.741vw;
  position: relative;
  min-height: 60.41vw;
  /* background: radial-gradient(ellipse at center, rgba(228,229,227,1) 0%, rgba(160,201,150,1) 100%); */
  background: radial-gradient(ellipse at center, rgba(228,229,227,1) 0%, rgba(160,201,150,1) 91%, rgba(160,201,150,1) 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 250%;
}

.purpScreenDiv{
  position: relative;
  transition: 1s;
  transform-origin: 30vw center 0px;
  transform: matrix3d(0.87,0,0.50,0.0001,0.00,1,0.00,0,-0.5,0,0.87,0,0,0,0,1);
}
.purpScreen{
  transition: 1s;
  position: absolute;
  width: 37.353vw;
  height: 39.5vw;
  top: 1.6vw;
  left: 5vw;
}
.purpScreen:hover{
  filter: brightness(115%);
}
.purpleScreenGear{
  position: absolute;
  background-image: url("../img/png/purpTabletGear.png");
  width: 16vw;
  left: 18vw;
  height: 16vw;
  background-size: 100% 100%;
  top: 4vw;
  animation-name: purpleTabletGear;
  animation-duration: 160s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.purpleScreenGearRotate{
transform: matrix3d(0.87,0,0.50,0.0001,0.00,1,0.00,0,-0.5,0,0.87,0,0,0,0,1);
}

.purpTabletDiv{
  position: relative;
  transform-origin: 20vw 0vw 0px;
  transform: matrix3d(0.87,0,0.50,-0.0001,0.00,1,0.00,0,-0.5,0,0.87,0,0,0,0,1);
  transition: 1s;
}
.purpTabletDiv:hover{
  filter: brightness(115%);
  transform: matrix3d(0.87,0,0.50,-0.0001,0.00,1,0.00,0,-0.5,0,0.87,0,0,0,0,1);
}
.purpTablet{
  position: absolute;
  width: 22.998vw;
  height: 34.86vw;
  top: 10.37vw;
  left: 2.6vw;
}
.purpleTabletGear{
  position: absolute;
  top: 17vw;
  left:6vw;
  background-image: url("../img/png/purpTabletGear.png");
  width: 16vw;
  height: 16vw;
  background-size: 100% 100%;
  /* transition: 1s; */
  animation-name: purpleTabletGear;
  animation-duration: 180s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
}
@keyframes purpleTabletGear {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}


.supMain{
  position: absolute;
  right: 9.7vw;
  top: 4.2vw;
  /* width: auto; */
  height: auto;
}
.supMain h2{
  margin: 0;
  margin-top: 1vw;
  font-size: 5.8vw;
  font-family: 'Montserrat-Hairline';
  font-weight: 100;
}
.supMain h2 span{
  font-family: 'Montserrat-Black';
  position: relative;
  top: -1vw;
}

.supMainText{
  font-family: 'Montserrat-Regular';
  font-size: 1.45vw;
  position: absolute;
  margin: 0;
  top: 18.9vw;
  right: 9.3vw;
}
.feedBackSingle{
  border: 1px solid rgb(162,202,152);
  background-color: rgba(162,202,152,0.3);
  position: absolute;
  bottom: 17.5vw;
  right: 5vw;
  padding-top: 1.186vw;
  padding-left: 1.11vw;
  padding-right: 1.111vw;
}

.imgNameFeedback{
  display: flex;
  align-items: center;
  font-family: 'Montserrat-Bold';
}
.imgNameFeedback img{
  margin-right: 0.8154vw;
  width: 4.077vw;
  height: 3.9288vw;
}
.imgNameFeedback p{
  font-size: 1vw;
  margin: 0;
}
.imgNameFeedback a{
  text-decoration: none;
}

.feedBackText{
  text-align: justify;
}
.feedBackText p{
  margin-left: 4.8924vw;
  font-size: 1.05vw;
  font-family: 'Montserrat-Light';
  line-height: 1.2;
  font-weight: 800;
}

.contactUsMaintenance{
  position: absolute;
  height: 4vw;
  right: 12.45vw;
  bottom: 10.5vw;
}
.contactUsMaintenance:hover{
  cursor: pointer;
}
.maintenanceLineAnim{
  transition: 1s;
  height: 0.27vw;
  width: 40%;
  background-color: rgb(244,173,14);
  border-radius: 2px;
}
.contactUsButtonText{
  display: flex;
  align-items: center;
  height: 3vw;
}
.contactUsButtonText h3{
  color: white;
  font-size: 1.779vw;
  font-family: 'Montserrat-Bold';
  margin:0;
}
.svgArrow{
  transition: 1s;
  margin-top: 0.7vw;
  filter: brightness(100%);
}

/* supportAndMaintance end */
/* technologies */
.technologies{
  overflow: hidden;
  padding-top: 0.1px;
  position: relative;
  height: 55.81vw;
  background: rgb(226,231,236);
}

.technoPhone{
  position: absolute;
  right: 0;
  top: 0vw;
  width: 63.146vw;
  height: 56vw;
}

.technologiesHeading{
  position: relative;
  margin-top: 11.2vw;
  margin-left: 5.41vw;
}
.technologiesHeading h2{
  color: rgb(51,51,51);
  margin: 0;
  font-size: 2.9vw;
  font-family: 'Montserrat-Light';
}

.technologiesArticle{
  position: relative;
  margin-left: 6vw;
  margin-top:6.4vw;
}
.technologiesArticle p{
  margin: 0;
  font-family: 'Montserrat-Light';
  color: rgb(153,153,153);
  font-size: 1vw;
}

.technologiesReadMoreDiv{
  position: absolute;
  left: 16.753vw;
  bottom: 10.229vw;
}
.technologiesReadMoreDiv:hover{
  cursor: pointer;
}
.technoLineAnim{
  transition: 1s;
  border-radius: 2px;
  height: 0.27vw;
  width: 40%;
  background-color: rgb(255,180,0);
}
.technologiesReadMoreDiv h3{
  margin: 0;
  margin-top: 0.2vw;
  font-family: 'Montserrat-Bold';
  font-size: 1.635vw;
}

/* technologies end */
/* ourWorkFlow */
.ourWorkFlow{
  position: relative;
}
.ourWorkFlow h2{
  margin: 0;
  font-size: 5.3vw;
  font-family: 'Montserrat-Hairline';
  color: rgb(49,49,50);
  margin-bottom: 1vw;
  margin-left: 6.22vw;
}
.ourWorkFlow h2 span{
  font-family: 'Montserrat-Black';
}
.workFlowVidDiv{
  position: absolute;
  right: 0;
  width: 79.83vw;
  height: 52.63vw;
}
.workFlowVidDiv::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  background: black;
  opacity: 0.8;
}
.ourWorkFlow video{
  position: absolute;
  object-fit:initial;
  width: 100%;
  height: 42.03vw;
  bottom: 0.889vw;
}

.countOnUs{
  position: absolute;
  top: 18.16vw;
  background-color: rgb(234,199,7);
  width: 51.89vw;
  height: 49.96vw;
}


/* ourWorkFlow end*/

/* other pages css starts here */
.content{
  padding-top: 0.1px;
  /* border: 1px solid black; */
  padding-top: 0.1px;
  padding-top: 0.1px;
  padding-bottom: 4vw;
  position: relative;
  left: 0;
  top: -0vw;
  background-color: rgb(244,244,244);
  width: 90.37vw;
  /* height: 100%; */
}
.contentImgTextBigBox{
  /* overflow-y: scroll; */
  min-height: 40.07vw;
  /* border: 1px solid green; */
  position: relative;
  left: 3vw;
  top: 3.259vw;
  width: 64.814vw;
}
.imgText{
  overflow: hidden;
  margin-bottom: 4vw;
  display: flex;
  border-bottom: 0.518vw solid rgb(236,236,236);
}

.screen{
  /* display: flex; */
  transition: 2s;
  position: relative;
  margin-right: 3.8vw;
  width: 100%;
  right: -24vw;
}
.author{
  display: flex;
}
.cyImage{
width: 6.5vw;
height: 6.5vw;
}
.picAutor p:nth-child(1){
  font-family: 'Montserrat-Bold';
  color: rgb(60,60,60);
  font-size:1.186vw;
  margin: 0;
  margin-top: 1.5vw;
  margin-bottom: 0.5vw;
  margin-left: 0.7vw;
}
.picAutor p:nth-child(2){
  font-family: 'Montserrat-Light';
  color: rgb(119,119,119);
  font-size: 0.889vw;
  margin: 0;
  margin-left: 0.7vw;
}
.http{
  position: relative;
  left: 2vw;
  background-size: 100% 100%;
  width: 100%;
}

.socialMediaArticle{
  position: relative;
  margin-bottom: -0.5vw;
  display: flex;
  justify-content: space-around;
  padding-left: 27.5%;
  padding-right: 27.5%;
}
.socialMediaArticle .fab{
    transition: 0.4s;
    color: rgb(174,174,174);
    font-size: 1.23vw;
    border: 2px solid rgb(174,174,174);
    border-radius: 50%;
    width: 1.7vw;
    height: 1.7vw;
    padding-top: 0.7vw;
    padding-left: 0.7vw;
}


.images{
  transition: 2s;
  overflow: hidden;
  min-width: 31.28vw;
  width: 31.28vw;
  position: relative;
  padding-bottom: 1vw;
}

.text{
  position: relative;
  left: -40vw;
  transition: 2s;
  overflow: hidden;
  color: rgb(112,112,112);
  text-align: justify;
  font-size: 1.185vw;
}
.textWraperAnimDiv{
  overflow: hidden;
  position: relative;
}

.text p{
  font-family: 'Montserrat-Light',serif;
  margin-right: 2.962vw;
  margin-left: 1.5vw;
  color: #404143;
  font-size: 1.3vw;
  line-height: 2.2vw;
}
.text h2{
  font-family: 'Montserrat-Black',serif;
  margin-left: 2.074vw;
  font-size: 2.296vw;
  margin-bottom: 1vw;
}
.readMore{
  border: none;
  background-color: rgb(236,70,35);
  width: 24.981vw;
  height: 4.966vw;
  margin-top: 2vw;
  margin-right: 2.92vw;
  color: white;
  font-size: 2vw;
  float: right;
  font-family: 'Montserrat-Black',serif;
}

.articleInspiration{
  font-family: 'Montserrat-Light';
  font-size: 1.3vw;
  color: #404143;
  margin-right: 2.92vw;
}
.shitSpam{
  color: #e4080a;
  font-family: 'Montserrat-Light';
  font-size: 1.3vw;
}
.detailBlogP{
  margin-top: 4vw;
  color: #404143;
  font-family: 'Montserrat-Light';
  font-size: 1.2vw;
}
.detailBlogPTwo{
  color: #404143;
  font-family: 'Montserrat-Light';
  font-size: 1.2vw;
}
.detailBlogPTwo span{
  color: #e5080d;
}

.detailBlogPThree{
  color: #404143;
  font-family: 'Montserrat-Light';
  font-size: 1.4vw;
}

.loader{
  margin-left: 40%;
}
.download{
  position: relative;
  width: 40vw;
  height: 10vw;
  margin-left: 50%;
  left: -20vw;
}
.hacked{
  width: 60%;
  height: 10vw;
  margin-left: 20%;
}
.socialMediaArticle{
  margin-top: 5vw;
  margin-bottom: 1vw;
}
.previousArticle{

}
.previousArticle h2{
  font-size: 2vw;
  color: #e5080d;
  font-family: 'Montserrat-Black';
}
.previousArticle a{
  transition: 0.4s;
  display: block;
  text-decoration: none;
}
.previousArticle a:hover{
  color: #e5080d;
}
.comments{
  display: flex;
  justify-content:  space-between;
  width: 60%;
}
.comments select{
  height: 2vw;
}
.fbComnts{
  width: 60%;
  display: flex;
}
.sortBy{
  display: flex;
  align-items: center;
}
.profil{
  width: 3vw;
  height: 3vw;
}
form{
  width: 100%;
}
textarea{
  width: 100%;
  outline: none;
}
textarea::placeholder{
  font-size: 1.3vw;
}
.logInToPost{
  background-color: #4267b2;
  color: white;
  min-height: 1.5vw;
  min-width: 5vw;
  margin-left: 28vw;
  font-family: 'Montserrat-Regular';
}


.moreArticles{
  margin-left: 20vw;
  margin-top: 2vw;
  display: block;
  text-decoration: none;
  font-size: 0.8vw;
  color: #e5080d;
}
.moreArticles:hover{
  text-decoration: underline;
}

.secundArticleButtonBox{
  display: flex;
  justify-content: space-between;
}
.socialArticleTwo{
  margin-left: 5vw;
  width: 13.4vw;
  padding: 0;
}
.OptimizedAnimBox{
  transition: 2s;
  position: relative;
  right: -64.814vw;
}

.alertImg{
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.speedImg{
  transition: 2s;
  position: absolute;
  top: 0;
  right: -8vw;
  width: 8vw;
  height: 8vw;
}

.appMenu{
  position: absolute;
  width: 24.2vw;
  /* height: 39.037vw; */
  background-color: rgb(36,34,40);
  top: 0px;
  right: 0;
}
.appMenuOptionsDiv{
  position: relative;
  transition: 0.4s;
  border-top: 1px solid rgb(90,90,90);
  height: 6.666vw;
  align-items: center;
  font-family: 'Montserrat-ExtraLight',serif;
}
.appMenuOptionsDiv:hover{
  cursor: pointer;
  background-color: rgb(209,110,33) !important;
}
.appMenu>div:nth-child(1){
  border-top: none;
  background-color: rgb(209,110,33);
}
.socialMedia{
  position: relative;
  margin-top: 3.5vw;
  margin-bottom: -0.5vw;
  display: flex;
  justify-content: space-around;
  padding-left: 10%;
  padding-right: 10%;
}
.appMenu .fab{
  transition: 0.4s;
  color: white;
  font-size: 1.3vw;
  border: 2px solid white;
  border-radius: 50%;
  width: 2.1vw;
  height: 2.1vw;
  padding-top: 1vw;
  padding-left: 1vw;
}
.appMenu .fab:hover{
  cursor: pointer;
  border-color: rgb(253,216,47);
  color: rgb(253,216,47);
}
.appMenu .fa-phone{
  font-size: 2vw;
  position: relative;
  top: -0.3vw;
  margin-right: 0.6vw;
  transform: scale(-1, 1);
}
.appMenu .fa-phone:hover{
  color:rgb(253,216,47);
}

.contactPhoneApp{
  margin-top: 5vw;
  color: white;
  font-family: 'Montserrat-Light',serif;
  font-size: 2vw;
  margin-left: 4vw !important;
}


/* dev */
.devIcon{
  transition: 0.4s;
  position: absolute;
  margin-left: 50%;
  top: 2.4vw;
  left: -0.84vw;
  background-image: url('../img/png/devIcon.png');
  width: 1.777vw;
  height: 1.777vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.devText{
  opacity: 0;
  transition: 0.2s;
  width: 100%;
  position: absolute;
  font-size: 1.333vw;
  color: white;
  top: 1.2vw;
  text-align: center;
}
/* cms */
.cmsIcon{
  transition: 0.4s;
  position: absolute;
  margin-left: 50%;
  top: 2.4vw;
  left: -0.84vw;
  background-image: url('../img/png/cms.png');
  width: 2.1vw;
  height: 1.777vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.cmsText{
  opacity: 0;
  transition: 0.2s;
  width: 100%;
  position: absolute;
  font-size: 1.333vw;
  color: white;
  top: 1.2vw;
  text-align: center;
}
.pros{
  color:#67c225;
  font-weight: 900;
  font-size: 23px;
}
.cons{
  color:rgb(249,66,6);
  font-weight: 900;
  font-size: 23px;
}
/* speed */
.speedIcon{
  transition: 0.4s;
  position: absolute;
  margin-left: 50%;
  top: 2.4vw;
  left: -0.84vw;
  background-image: url('../img/png/speed.png');
  width: 2.2vw;
  height: 1.62vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.speedText{
  opacity: 0;
  transition: 0.2s;
  width: 100%;
  position: absolute;
  font-size: 1.333vw;
  color: white;
  top: 1.2vw;
  text-align: center;
}
/* contact */
.contactIcon{
  transition: 0.4s;
  position: absolute;
  margin-left: 50%;
  top: 2.4vw;
  left: -0.84vw;
  background-image: url('../img/png/contact.png');
  width: 2.2vw;
  height: 1.62vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.contactText{
  opacity: 0;
  transition: 0.2s;
  width: 100%;
  position: absolute;
  font-size: 1.333vw;
  color: white;
  top: 1.2vw;
  text-align: center;
}

/* content of app menu */
.contentOne{
display: block;
}
.contentTwo,.contentThree,.contentFour{
  display: none;
}
/* content contact two */
.contentTwo .screen,.contentThree .screen{
  width:24vw;
  height: 24vw;
}
/* content one */

.contentOne h1{
  font-family: 'Montserrat-Black';
  font-size: 3.55vw;
  color: rgb(60,60,60);
}
/* content contact four */
.contentFour{
  padding-top: 2vw;
}

.contentFour .fa-phone{
  font-size: 1.35vw;
  margin-right: 0.7vw;
}
.contentFour .fa-skype::before{
  font-size: 1.7vw;
}
.contentFour a{
  text-decoration: none;
}
.contentFour p{
  font-family: 'Montserrat-Light',serif;
  margin: 0.8vw;
  font-size: 18px;
  color: rgb(112,112,112);
}
.contactPhone{
  color: white;
  font-family: 'Montserrat-Light',serif;
  font-size: 2vw;
  margin-left: 2vw !important;
}
.appMenu a{
  color: rgb(112,112,112);
  text-decoration: none;
}
.contactPhone span{
  position: relative;
  top: 0.2vw;
  font-size: 2vw;
}
.contactPhone span:hover{
  color: rgb(253,216,47);
}
.fa-skype::before{
  font-size: 2vw;
  position: relative;
  top: 0.3vw;
}
.fa-skype:hover{
  color: rgb(253,216,47);
}
.contentFour form{
  margin-top: 3.5vw;
}
.contentFour form p{
  margin-left: 0;
}
.contentFour input,.contentFour textarea{
  transition: 0.4s;
  font-family: 'Montserrat-Light',serif;
  outline: none;
  height: 1.5vw;
  background-color: rgb(237,234,231);
  border: none;
  border-bottom: 1px solid #888;
  width: 96%;
  font-size: 18px;
  margin-bottom: 1.5vw;
}
.contentFour textarea:focus{
  height: 5vw;
}

.fa-upload::before{
  color: gray;
  font-size: 2vw;
}
.fa-upload:hover::before{
  color: rgb(253,216,47);
  font-size: 2vw;
}
.uploadButton:hover{
  cursor: pointer;
}
.SendBUtton{
  transition: 0.4s;
  float: right;
  margin-right: 2vw;
  width: 8vw;
  height: 3.7vw;
  border-radius: 2vw;
  background-color: #888;
  border:2px solid #fff;
  color:white;
  font-size: 1.464vw;
}
.SendBUtton:hover{
  cursor: pointer;
  background-color: rgb(253,216,47);
}




@media(orientation:portrait){
  .fourImgGrid{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
